<div class="row no-horizontal-margin">
  <div class="col-md-1">
    <img class="profile" src="<%= user.picture %>">
  </div>
  <div class="col-md-3">
    <a href="<%= user.url %>" target="_blank">
      <h4><%= user.name %></h4>
    </a>
  </div>
  <div class="col-md-5">
    <h4><%= user.app.name %></h4>
  </div>
  <div class="col-md-3 right">
    <h4><%= user.followers %>&nbsp;<%= user.followers_label %></h4>
  </div>
</div>
<hr>