<div class="header no-horizontal-margin">
  <div class="col-lg-12 no-horizontal-padding">
    <div class="col-lg-4 logo">
      <div class="row">
        <% if @app %>
          <a alt="<%= @app.subdomain.capitalize %>" title="<%= @app.subdomain.capitalize %>" class="logo" href="<%= user_path(@app.user.id, {:just_created => false}) %>">
            <%= @app.subdomain.capitalize %>
          </a>
        <% else %>
          <a alt="tuitcoins.com" title="tuitcoins.com" class="logo" href="<%= root_path %>">tuitcoins.com</a>
        <% end %>
      </div>
      <% unless @app %>
        <div class="row claim">
          Saca partido a tu timeline
        </div>
      <% end %>
    </div>
    <div class="col-lg-8 no-horizontal-padding main-bar">
      <ul class="nav nav-pills no-horizontal-margin pull-right">
        <% if @is_admin %>
          <li class="<%= "active" if params[:controller] == "users" %>">
            <a alt="Usuarios" title="Usuarios" href="<%= dashboards_path %>">Dashboard</a><br>        
          </li>
          <li class="<%= "active" if params[:controller] == "categories" %>">
            <a alt="Categorías" title="Categorías" href="<%= categories_path %>">Categorías</a><br>        
          </li>
          <li class="<%= "active" if params[:controller] == "plans" %>">
            <a alt="Planes" title="Planes" href="<%= plans_path %>">Planes</a>
          </li>
          <li class="<%= "active" if params[:controller] == "campaigns" %>">
            <a alt="Campañas" title="Campañas" href="<%= campaigns_path %>">Campañas</a>
          </li>
          <li>
            <%= render "layouts/customize_button" %>            
          </li>
        <% else %>
          <li>
            <a alt="Salir" title="Salir" href="<%= logout_path({:app => @app.subdomain}) %>">Salir</a><br>        
          </li>
        <% end %>
      </ul>
    </div>   
  </div>
</div>